@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body{
  margin: 0 auto;
  padding: 20px 0 20px 0;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
}

main{
  display: flex;
}

section{
  flex: 1 1 100vw;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background:#fff;
  padding: 30px 5px;
  border-radius: 10px;
  box-shadow: 5px 5px 15px;
  max-width: 100vw;

}

section img{
  width: 100%;
  height: 200px;
  right: 15px;
  bottom: 15px;
}

section h1{
  padding: 40px 10px;
  text-align: center;
}

fieldset{
  border: none;
  width: 90%;
  flex-wrap: nowrap;
}

fieldset:nth-child(2){
  display: flex;
  padding-top: 10px;
}
fieldset:nth-child(3){
  display: flex;
  padding-top: 10px;
}

fieldset:nth-child(4){
  display: flex;
  padding-top: 10px;
}

fieldset:nth-child(5){
  display: flex;
  width: 100%;

}
.container{
  flex: 1 1 100vw;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  width: 450px; 
}

.container input{
  margin: 10px 10px;
  width: calc(100% - 20px);
  height: 70px;
  border: none;
  background-color: #ededed;
  border-radius: 4px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  padding: 14px 10px 0 10px;
}

.container label, option{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #9d9d9d;
  position: absolute;
  line-height: 70px;
  top: 10px;
  left: 20px;
  user-select: none; /*Impede a selecação de texto*/
  pointer-events: none;
  transition: 0.5s;
}

.container select{
  margin: 10px 10px;
  width: calc(100% - 20px);
  height: 50px;
  border: none;
  background-color: #ededed;
  border-radius: 4px;
  color: #9d9d9d;
  font-size: 14px;
  font-weight: 700;
  padding: 14px 10px 14px 10px;
}

.container input:focus ~ label,
.container input:valid ~ label{
  left: 20px;
  top: -10px;
  color: #c51515;
}

button{
  margin: 40px 0;
  margin-left: 10px;
  width: calc(100% - 20px);
  height: 50px;
  background: #c51515;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

button:hover{
  opacity: 0.85;
}

#resultado {
  background: #ededed;
  width: calc(100% - 20px);
  height: 70px;
  margin: 0 auto;
  border-radius: 4px;

}
#base{
  width: 400px;
  height: 200px;
  position: fixed;
  right: 15px;
  bottom: 15px;
}


@media screen and (max-device-width: 473px) {
.container{
    width: calc(100% - 20px);
    padding: 10px;
   
  }

  .container input{
    width: 100%;
  }

  .container label, option{
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 700; 
    margin: 10px;
  }

  .container select{
   width: 100%;
  }

  button{
    width: calc(100% - 20px);    
  }

  #resultado {
  font-size: 12px;
  }
}


